Repository 123kevyd/recipeasy, pull requests merged in 2022-03, with the labels that each got.

#51 Feature/equipment api routes
  README.md
  backend/config/config.json
  backend/controllers/equipment_controller.js
  backend/controllers/rating_controller.js
  backend/controllers/recipe_controller.js
  backend/controllers/user_controller.js
  backend/migrations/20220216031455-create-ratings.js
  backend/migrations/20220216065151-create-user.js
  backend/migrations/20220216065430-create-equipment.js
  backend/migrations/20220217230113-create-recipe.js
  backend/migrations/20220217230512-create-ingredient.js
  backend/migrations/20220223211511-update-user.js
  backend/models/equipment.js
  backend/models/index.js
  backend/models/ingredient.js
  backend/models/rating.js
  backend/models/recipe.js
  backend/models/user.js
  package-lock.json
  package.json
  pages/api/equipment.js
  pages/api/ingredients.js
  pages/api/rating.js
  pages/api/recipes.js
  pages/index.js
Labels: High Priority, Back End, Dev Task

#50 Feature/user routing
  backend/controllers/user_controller.js
  backend/models/index.js
  backend/models/user.js
  pages/api/user/[uid].js
  pages/api/user/index.js
Labels: High Priority, Back End, Dev Task

#57 Updating Controller Methods to Better Match Each Other
  backend/controllers/equipment_controller.js
  backend/controllers/rating_controller.js
  backend/controllers/recipe_controller.js
Labels: Back End, Medium Priority

#73 65: Make user post return the user if the name already exists and add get user by id
  backend/controllers/user_controller.js
Labels: bug, High Priority, Back End

#80 Bugfix/79 user recipes
  backend/controllers/user_controller.js
  backend/migrations/20220310163906-user-add-recipes.js
  backend/models/user.js
  pages/api/user/[uid].js
Labels: bug, High Priority, Back End

#105 Db/add restrictions
  backend/controllers/restriction_controller.js
  backend/migrations/20220327182804-create-restriction.js
  backend/models/restriction.js
Labels: High Priority, Back End

#106 Feature/97 recipe integration
  backend/controllers/rating_controller.js
  backend/controllers/recipe_controller.js
  backend/migrations/20220326150935-update-recipe.js
  backend/models/rating.js
  backend/models/recipe.js
  backend/models/user.js
  components/recipe_rating_display.js
  components/recipe_table_comp.js
  pages/user/[uid].js
Labels: High Priority, Back End, Dev Task
