Repository 123kevyd/recipeasy, pull requests merged in 2022-04, with the labels that each got.

#123 Bugfix/122 fix backend tests
  backend/controllers/equipment_controller.js
  backend/controllers/ingredient_controller.js
  backend/controllers/user_controller.js
  backend/tests/equipment_controller_test.js
  backend/tests/ingredient_controller_test.js
  backend/tests/user_controller_test.js
Labels: bug, Back End

#121 Feature/92 add review component
  backend/migrations/20220405152256-update-rating.js
  backend/models/rating.js
  components/recipe_rating_submit.js
  components/recipe_table_comp.js
  components/view_recipe.js
  pages/api/rating.js
Labels: Front End, High Priority, Back End, Dev Task

#120 Set up prod db and created commands migrate-test and migrate-prod
  backend/config/config.json
  package.json
Labels: High Priority

#137 136: Add check to see if review string is null
  backend/controllers/rating_controller.js
Labels: bug, Back End

#147 144 bugfix broken functionality and tests
  .github/workflows/main-cicd.yml
  backend/controllers/ingredient_controller.js
  pages/api/equipment.js
  pages/api/ingredients.js
  pages/api/recipes.js
  pages/api/restrictions.js
  pages/user/[uid].js
  store/user_store.js
Labels: High Priority
